.header__logo {
  width: 145px;
  height: 34px;
  margin-left: 159px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1110px) {
  .header__logo {
    margin-left: 100px;
  }
}

@media screen and (max-width: 800px) {
  .header__logo {
    margin-left: 50px;
    margin-bottom: 32px;
    height: 25px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    margin-left: 27px;
  }
}
