.popup__input-error {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #FF0000;
  margin-top: 5px;
  display: none;
  width: 358px;
}

@media screen and (max-width: 500px) {
  .popup__input-error {
    width: 200px;
 }
}
