@import url(./__photo/card__photo.css);
@import url(./__group/card__group.css);
@import url(./__title/card__title.css);
@import url(./__bin/card__bin.css);
@import url(./__like-group/card__like-group.css);
@import url(./__like/card__like.css);
@import url(./__counter/card__counter.css);


.card {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}
