.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  position: relative;
}

@media screen and (max-width: 500px) {
  .popup__container {
    padding: 20px;
 }
}
