.popup__container_type_confirm {
  background-color: #ffffff;
  padding: 36px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .popup__container_type_confirm {
    padding: 30px 20px;
    width: 220px;
    align-items: center;
 }
}
