@import url(./__logo/header__logo.css);

.header {
  max-width: 1200px;
  min-width: 300px;
  padding-top: 45px;
  margin: 0 auto;
}

.header::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 1px;
  background-color: #545454;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 800px) {
  .header {
    padding-top: 28px;
  }

  .header::after {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
